body {
  background-color: #000;
  font-family: Fira Sans;
}

h2 {
  color: #EEE;
  text-align: center;
}

label {
  color: #CCC;
}

.well {
  background: none;
  border: none;
}

footer {
  text-align: right;
  padding: 1em;
}